/*
   Google font
   Import default roboto 300, 300 italic, 700, 700 italic
*/
@import 'http://fonts.googleapis.com/css?family=Roboto:700,700italic,300,300italic';

/* Normalize */
@import '../vendor/normalize.css/normalize.css';

/* Variables */
@import 'variables.css';

/* Layout */
@import 'layout/wrappers.css';

/* Common global styles */
@import 'common.css';

/* Modules */
@import 'modules/header.css';
@import 'modules/footer.css';
@import 'modules/cookies.css';

/* Pages */
@import 'pages/home.css';
@import 'pages/login.css';
