:root {

    /* wrappers width */
    --wrapper: 100%;
    --wraper-desktop: 1200px;
    --wraper-narrow: 740px;

    /* Color palette */
    --color-main: #252525;
    --color-main-dark: color(var(--color-main) tint(15%));
    --color-main-medium: color(var(--color-main) tint(50%));
    --color-main-light: color(var(--color-main) tint(85%));

    --color-link: blue;

    /* Custom media */
    @custom-media --mobile (min-width: 320px);
    @custom-media --mobile-landscape (min-width: 480px);
    @custom-media --tablet (min-width: 768px);
    @custom-media --tablet-landscape (min-width: 1024px);
    @custom-media --desktop (min-width: 1285px);

}
