.page {
    padding-top: 8em;
    @media (--tablet) {
        padding-top: 6em;
    }
}

@define-mixin wrapper {

    lost-center: 100% 15px Flex;

    @media (--tablet) {
        lost-center: 100% 65px Flex;
    }
}

@define-mixin wrapper-narrow {

    lost-center: var(--wraper-narrow) 1rem;
}
