@custom-selector --wrappers .wrapper, .wrapper-narrow;

--wrappers {
    padding-left: 1rem;
    padding-right: 1rem;
    display: block;
    margin: 0 auto;

    @media (--mobile) {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    @media (--tablet) {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    @media (--desktop) {
        padding-left: 6rem;
        padding-right: 6rem;
    }
}

/* Normal wrapper */
.wrapper{
    max-width: var(--wraper);
}

/* mini wrapper  */
.wrapper-narrow{
    max-width: var(--wraper-narrow);
}
