{{% BLOCKS }}
{{< master }}

{{$ content}}

<div class="wrapper-narrow">
    <header>
        <h2>{{ langs.cookies }}</h2>
    </header>

    <p>
        On the website <b>{{ cookies.domain }}</b> we use cookies to facilitate visitors interaction with our content and to allow developing statistics on the visits we receive. In accordance with article 22 of Act 34/2002 on Information Society Services, amended by Royal Decree-Law 13/2012 which transposes, among others, Directive 2009/136/EC, we proceed to inform you in detail about how the use takes place in our website.
    </p>

    <p>
        Cookies are small files that are stored in the browser used by each visitor to our website so that the server can remember that user’s visit in subsequent re-access to our content. This information does not reveal your identity or any personal information or access content stored on your PC, but it allows our system to identify you as a specific user who previously visited the site, visualized certain pages, etc and also save your personal preferences and technical information such as visits or the specific pages you visit.
    </p>

    <p>
        If you do not want cookies to be saved on your browser, or if you prefer to receive information each time a cookie request installation, you can configure your navigation options to do it. Most browsers allow cookies management in 3 ways:
    </p>

    <ul>
        <li>Cookies are always rejected</li>
        <li>The browser asks if the user wants to install each cookie</li>
        <li>Cookies are always accepted</li>
    </ul>

    <p>
        Your browser may also include the possibility to select in detail the cookies you want to be installed on your computer. Specifically, the user can normally accept any of the following options:
    </p>

    <ul>
        <li>Reject cookies from certain domains</li>
        <li>Reject cookies from third parties</li>
        <li>Accept cookies as non-persistent (they are deleted when the browser is closed)</li>
        <li>Allow the server to create cookies for a different domain.</li>
    </ul>

    <p>
        You can find information about how to configure the most used browsers at the following locations:
    </p>

    <ul>
        <li class="chrome"><a href="http://support.google.com/chrome/bin/answer.py?hl=es&amp;answer=95647"><span>Google Chrome</span></a></li>
        <li class="ie"><a href="http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-ininternet-explorer-9"><span>Internet Explorer</span></a></li>
        <li class="firefox"><a href="http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we"><span>Mozilla Firefox</span></a></li>
        <li class="safari"><a href="http://support.apple.com/kb/ph5042"><span>Safari</span></a></li>
    </ul>

    <p>
        Regarding third-party cookies, those that are foreign to our website, we cannot be held responsible for the content and accuracy of the privacy policies they include, so the information we offer is always in reference to the source. We have only 1 type of third party cookies, corresponding to Google analytics. This is used to report statistics to such third parties.
    </p>
</div>

{{/ content}}
{{/ master }}
