{{% BLOCKS }}
{{< master }}

{{$ content}}

<header>
	<h2>{{ langs.cookies }}</h2>
</header>

<p>
	Na web <b>{{ cookies.domain }}</b> utilizamos cookies para facilitar a relación dos visitantes co noso contido e para permitir elaborar estatísticas sobre as visitas que recibimos. En cumprimento do art. 22 da Lei 34/2002, de servizos da Sociedade da Información, modificada por Real Decreto-lei 13/2012 polo que se traspón, entre outras, a Directiva 2009/136/CE, procedemos a informalo detalladamente do uso que se realiza na nosa web.
</p>

<p>
    Denomínanse cookies a uns pequenos arquivos que se gravan no navegador utilizado por cada visitante da nosa web para que o servidor poida recordar a visita dese usuario con posterioridade cando volva acceder aos nosos contidos. Esta información non revela a súa identidade, nin dato persoal ningún, nin accede ao contido almacenado no seu PC, pero si que permite ao noso sistema identificalo a vostede como un usuario determinado que xa visitou a web con anterioridade, visualizou determinadas páxinas, etc. e ademais permite gardar as súas preferencias persoais e información técnica como por exemplo as visitas realizadas ou páxinas concretas que visite.
</p>

<p>
    Se vostede non desexa que se garden cookies no seu navegador ou prefire recibir unha información cada vez que unha cookie solicite instalarse, pode configurar as súas opcións de navegación para que se faga desa forma. A maior parte dos navegadores permiten a xestión das cookies de 3 xeitos diferentes:
</p>

<ul>
    <li>As cookies son sempre rexeitadas</li>
	<li>O navegador pregunta se o usuario desexa instalar cada cookie</li>
	<li>As cookies son sempre aceptadas</li>
</ul>

<p>
    O seu navegador tamén pode incluír a posibilidade de seleccionar con detalle as cookies que desexa que se instalen no seu ordenador. En concreto, o usuario pode normalmente aceptar algunha das seguintes opcións:
</p>

<ul>
	<li>Rexeitar as cookies de determinados dominios</li>
	<li>Rexeitar as cookies de terceiros</li>
	<li>Aceptar cookies como non persistentes (elimínanse cando o navegador se pecha)</li>
	<li>Permitir ao servidor crear cookies para un dominio diferente</li>
</ul>

<p>
    Pode atopar información sobre como configurar os navegadores máis empregados nas seguintes ubicacións:
</p>

<ul>
    <li class="chrome"><a href="http://support.google.com/chrome/bin/answer.py?hl=es&amp;answer=95647"><span>Google Chrome</span></a></li>
    <li class="ie"><a href="http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-ininternet-explorer-9"><span>Internet Explorer</span></a></li>
    <li class="firefox"><a href="http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we"><span>Mozilla Firefox</span></a></li>
    <li class="safari"><a href="http://support.apple.com/kb/ph5042"><span>Safari</span></a></li>
</ul>

<p>
    Respecto das cookies de terceiros, é dicir aquelas que son alleas ao noso sitio web, non podemos facernos responsables do contido e veracidade das políticas de privacidade que eles inclúen, polo que a información que lle ofrecemos é sempre con referencia á fonte. Temos só 1 tipo de cookie de terceiros, correspondente a Google analytics. Esta é utilizada para reportar estatísticas a ditos terceiros.
</p>

{{/ content}}
{{/ master }}
