{{% BLOCKS }}
{{< master }}

{{$ header }} {{/ header }}

{{$ content}}
<div class="wrapper">
    <h1>Admin zone</h1>
    <a href="/admin/logout">logout</a>
</div>
{{/ content}}

{{$ footer }} {{/ footer }}

{{/ master }}
