{{% BLOCKS }}
{{< master }}

{{$ content}}
<h1>SlimInit</h1>
<img src="/static/build/media/img/test-gif.gif" alt="SlimInit test images">
<img src="/static/build/media/img/test-jpg.jpg" alt="SlimInit test images">
<img src="/static/build/media/img/test-png.png" alt="SlimInit test images">
<img src="/static/build/media/img/test-svg.svg" alt="SlimInit test images">
{{/ content}}

{{/ master }}