{{% BLOCKS }}
{{< master }}

{{$ content}}
<img src="/static/build/media/img/test-gif.gif" width="250" alt="SlimInit test images">
<img src="/static/build/media/img/test-jpg.jpg" width="250" alt="SlimInit test images">
<img src="/static/build/media/img/test-png.png" width="250" alt="SlimInit test images">
<img src="/static/build/media/img/test-svg.svg" width="250" alt="SlimInit test images">
{{/ content}}

{{/ master }}